@charset "UTF-8";
:root{
    --cor0: #d9dffa;
    --cor1: #404080;
    --cor2: #262661;
    --cor3: #eeeeee;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}
header{
    background-color: var(--cor2);
    color: var(--cor3);
    height: 8vh;
    padding: 2vh;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.555);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}
main{
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    align-self: center;
}
div#add{
    margin: 20px;
    border-radius: 10px;
    padding: 2vh;
    background-color: var(--cor1);
    color: var(--cor3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);
}
h2{
    margin: 10px;
}
li{
    list-style-type: none;
    font-size: 1.1em;
}
ul button{
    background: none;
    border: none;
    color: rgb(92, 109, 91);
    font-size: 1em;
    cursor: pointer;
}
div{
    align-self: center;
}
form button{
    border: none;
    background-color: var(--cor3);
    height: 3vh;
    width: 15vw;
    border-radius: 10px;
    margin-left: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.404);
    cursor: pointer;
    
}
button:hover{
    background-color: var(--cor0);
}
div h1{
    margin-bottom: 2vh;
}
footer{
    background-color: var(--cor2);
    color: var(--cor3);
    font-size: 0.6em;
    padding: 10px 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    transition: 250ms;
}
a:hover{
    color: var(--cor3);
}
.tarefa{
    padding: 10px;
    font-style: italic;
    font-size: 1.2em;
}
.libutton{
    
}
.libutton:hover{
    color: var(--cor1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}
.deletar{
    padding: 10px;
}
.deletar:hover{
    color: rgb(216, 115, 115);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.strikethrough {
    position: relative;
    display: inline-block;
}

.strikethrough::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
}

.strikethrough-active::after {
    transform: scaleX(1);
}